{% extends "base.html" %}
{% block title %}À propos - Boutique{% endblock %}
{% block content %}
<h2>À propos de nous</h2>
 <p>Bonjour ! Je m'appelle <strong>Lahcen Ait Baaddi</strong>  , passionné par le développement digital. Je combine mes compétences en développement back-end et front-end pour créer des applications web performantes et des expériences utilisateur intuitives.

  Je suis motivé par les défis techniques et l'apprentissage constant des nouvelles technologies pour rester à la pointe du web. Mon objectif est de transformer des idées en projets concrets et fonctionnels, tout en apportant de la valeur aux utilisateurs.
  
  Si vous cherchez quelqu'un capable de gérer un projet de A à Z, du design à la mise en ligne, je suis là pour relever le défi !</p>
<h4 class="mt-4">Fonctionnalités</h4>
<ul>
  <li>Listing produits en cartes</li>
  <li>Fiche produit + commentaires</li>
  <li>Panier coté session</li>
  <li>CRUD de produits (admin)</li>
  <li>Formulaire de contact</li>
  <li>Authentification simple</li>
  <li>Dark / Light mode</li>
</ul>

<p class="text-muted">Tu peux personnaliser cette application selon tes besoins : ajout de catégories, recherche, filtre, intégration paiement (Stripe), etc.</p>
{% endblock %}
